/* You can add global styles to this file, and also import other style files */
*,
*::after {
  outline: none !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}

p {
  font-size: 12px;
}

.mat-toolbar.mat-primary {
  background: #673ab7;
  color: black;
  background: rgba(255, 242, 5, 1);
  background: -moz-linear-gradient(left, rgba(255, 242, 5, 1) 0%, rgba(3, 251, 255, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 242, 5, 1)), color-stop(100%, rgba(3, 251, 255, 1)));
  background: -webkit-linear-gradient(left, rgba(255, 242, 5, 1) 0%, rgba(3, 251, 255, 1) 100%);
  background: -o-linear-gradient(left, rgba(255, 242, 5, 1) 0%, rgba(3, 251, 255, 1) 100%);
  background: -ms-linear-gradient(left, rgba(255, 242, 5, 1) 0%, rgba(3, 251, 255, 1) 100%);
  background: linear-gradient(to right, rgba(255, 242, 5, 1) 0%, rgba(3, 251, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff205', endColorstr='#03fbff', GradientType=1);
}
